@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
    box-sizing: border-box;
}



button {
    align-self: flex-start;
    flex: 0 0 auto;
}

.medium-p{
    font-size: 12px;
}

.small-p{
    font-size: 11px;
}

.autentication-page {
    font-family: "Century Schoolbook", serif;
    min-height: 100vh;
    width: 100vw;
    background-color: white;
}

.card-list {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    gap:30px;
    padding:15px 20px 4rem 20px
}

.landing-page-card{
    display:flex;
    flex-direction: column;
    border: 1px #b2b8bf solid;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.49);
    margin:0 10px;
    flex-shrink: 0;
    font-size: 12px;
    color: rgb(115, 115, 115);
}
.landing-page-card:hover{
    box-shadow: 0 2px 4px #6b7280;
}
.demo-calculator {
    width: 14.3rem;
    height: 18.4rem;
    background-color: white;
    border: 1px solid #C156E8C7;
    border-radius: 10px;
    padding: 10px;
}

.demo-calculator:hover{
    transition: ease-in-out 200ms;
    translate: 0 -5px;
    box-shadow: 0 5px 5px rgba(107, 114, 128, 0.58);
}

.footer-link-btn{
    text-decoration: none;
    background-color: white;
    color:var(--primary-color);
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px
}
.footer-link-btn:hover{
    background-color: #eaeaea;
}

.section-1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:50px;
    background-color:rgba(248,241,255,0.77);
    padding:30px;
}

.section-3 {
    background-color:#F6F8FAFF;
    padding:30px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    justify-self:center;
    gap:20px
}
.section-4 {
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:45px 30px 70px 30px;
    grid-column-Gap:15px;
}

/*@media screen and (min-width: 550px) {*/
/*    .section-1 {*/
/*        flex-direction: row;*/
/*    }*/

/*    .section-1 img{*/
/*        width:40vw*/
/*    }*/
/*    */
/*}*/

@media screen and (max-width:490px){
    .section-3 {
        flex-direction: column;
    }
    .section-3 > div{
        line-height: 1.3rem;
        font-size: 18px;
        width:100%;
    }
    .demo-calculator {
    height:auto;
    padding: 50px; /*TODO: Padding not overwriting */
    }

    .section-4{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap:2.4rem;
        font-size: 20px;
    }
}

@media screen and (min-width:630px) {
    .section-1 {
        flex-direction: row;
    }

    .section-1 img{
        width:40vw
    }

    .card-list{
        flex-flow:row nowrap;
        gap:0;
    }

    .landing-page-card{
        max-width: 14rem;
        flex: 1 1 12rem;

    }

    .section-3{
        gap:30px;
        justify-content: center;
    }
    .slip-ups {
        font-size: 3.4vw;
        max-width: 40rem;
    }
    .slip-ups .small-p {
        font-size:1.7vw;
        padding:1.3vw 0;
    }
    .slip-ups .medium-p{
        font-size: 2vw;
        padding-top:1.7vw;
        line-height:3.4vw;
    }


}


.toGetColors{
    color: rgb(63, 199, 169);
}
