
.video-card-image:hover .costume-spin{
        animation: costumeSpin 1s infinite linear
}
.video-card-image:hover .tick-cross {
    animation: popUp 1.5s infinite ease-out;

}
.video-card-image {
  border: 2px solid rgba(163, 104, 241, 0.61) ;
  transition: border-color 0.3s ease;
}

.video-card-image:hover {
  border-color: rgb(142, 227, 94);
}

@keyframes popUp {
    0%,100%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.8;
    }


}
@keyframes costumeSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}