/* src/policy/MyPolicies.css */

/*.my-policies-container {*/
/*  padding: 1rem 2rem;*/
/*  background-color: var(--bg-color);*/
/*  border-radius: 0.5rem;*/
/*  !*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*!*/
/*  width: 100%;*/
/*  max-width: 1400px;*/
/*  margin: 0 auto;*/
/*  min-height: calc(100vh - 100px);*/
/*}*/

.page-title {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  text-align: left;
}

.policy-actions-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.create-policy-button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.create-policy-button:hover {
  background-color: #6C2BB8;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.policy-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.policy-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: #f8fafc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  cursor: default;
}

.policy-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: var(--primary-color);
}

.policy-card-content {
  margin-bottom: 1rem;
}

.policy-name {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.policy-details p {
  font-size: 0.9em;
  color: var(--text-secondary);
  margin-bottom: 0.25rem;
} 

.policy-actions {
  display: flex;
  gap: 0.75rem;
  justify-content: flex-end;
  margin-top: auto;
}

.action-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 0.9em;
  transition: background-color 0.2s;
}

.action-button:hover {
  background-color: #c9e67d;
}
