#filter-container {
    width: 100%;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    position: sticky;
    top: 20px;
}
#filter-container>div{
    flex:1 1 0;
    display:flex;
    gap:15px;
}

@media screen and (max-width:920px) {
    #filter-container{
        flex-direction: column;
        align-items: flex-start;
    }

}